/* Samuel Miller */
/* Malik Abada   */
/* Joseph Finan  */

/*----------------------------------------- CSS general pour toutes les pages du site -----------------------------------------*/
body {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0;
	min-height: calc(100vh - 18px);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
}

/*---------------------------------------------------- CSS pour le header ----------------------------------------------------*/
header {
	width: 100%;
	height: 60px;
	max-width: 1200px;
	padding-left: 20px;
	padding-right: 20px;
	border-bottom: 1px solid #0b2d3d;
	background-color: #14597f;
}

.headerImg {
	float: left;
	padding-top: 5px;
	padding-left: 10px;
	width: 20%
}

.headerNavMenu {
	float: right;
	height: 100%;
	display: flex;
	align-items: center;
}

.headerMenuOption {
	font-size: 14px;
	padding: 9px 9px;
	text-decoration: none;
	color: white;
}

.headerMenuOption:focus, .headerMenuOption:hover, .headerMenuOption:active {
	border-radius: 8%;
	background-color: #1fb5e9;
}

.headerMenuOptionActive {
	font-size: 14px;
	padding: 9px 9px;
	text-decoration: none;
	color: white;
	border-radius: 8%;
	background-color: #1fb5e9;
}

.headerCartColor {
	color: #14597f;
}


.headerCartMenuOption {
	position: relative;
	margin-right: 10px;
}

.count {
	color: white;
	font-size: 8px;
	border-radius: 50%;
	text-decoration: none;
	background-color: #d9534f;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	width: 16px;
	height: 16px;
	bottom: 0px;
	right: 0px;
}

/*---------------------------------------------------- CSS pour le footer ----------------------------------------------------*/
footer {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	max-width: 1200px;
	max-height: 70px;
	background-color: #eeeeee;
	border-top: 3px solid #cccccc;
}

footer h6 {
	margin: 10px
}

/*----------------------------------------- CSS pour le contenu principal d'une page  -----------------------------------------*/
main {
	flex: 1;
	width: 100%;
	max-width: 1200px;
	padding-left: 20px;
	padding-right: 20px;
	justify-content: center;
	box-sizing: border-box;
}

/*----------------------------------------- CSS pour le contenu de la page d'accueil  -----------------------------------------*/
.mainPageContent {
	display: flex;
	flex-direction: row; 
}

.mainPageImage {
	width: 70%;
	float: right;
}

.mainPageInnerPannel {
	width: 50%;
}

.btn {
	color: white;
	border-radius: 4px;
	padding: 10px;
	text-decoration: none;
	border : 1px solid #0b2d3d;
	background-color: #14597f;
}

.btn:hover {
	background-color: #1fb5e9;
	transition: background-color 0.2s ease-out;
	cursor: pointer;
}

.btn:active {
	color: white;
}

/*----------------------------------------- CSS pour le contenu de la page des produits -----------------------------------------*/
.productsPageContent {
	display: flex;
	flex-direction: row; 
}

.filtersSection{
	 flex-basis: 25%;
}

.productsSection{
	 flex-basis: 75%;
}

.filtersSubSection{
	display: flex;
	flex-direction: column;
}

.buttonFilter{
	border : 1px solid #999999;
	background-color:white;
	height : 35px;
	width : 80%;
	text-align: left;
}

.buttonFilter:hover{
	background-color: #f3f3f3;
	transition: background-color 0.2s ease-out;
	cursor: pointer;
}

.selected{
	background-color: #ddf2fb;
}

.topRoundedCorners{
	border-radius: 4px 4px 0px 0px;
}

.bottomRoundedCorners{
	border-radius: 0px 0px 4px 4px;
}

.productsSection{
	display: flex;
	flex-direction: column;
}
.mainProductsPanelHeader{
	margin-top:10px;
	margin-bottom:20px;
	height : 35px;
	width: 100%;
}

.mainProductsContentHeader{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.productContent{
	border: 1px solid #999999;
	border-radius: 4px;
	text-decoration: none;
	color: black;
	width: 30%;
	margin-bottom: 20px;
}

.productContent:hover{
	background-color: #f3f3f3;
}

.productPrice{
	float:right;
	margin-right:10px;
}

.productTitle{
	margin-left:10px;
}

.mainProductsContentHeader a img{
	width: 100%;
}

/*-------------------------------------- CSS pour pages d'un seul produit et de commande --------------------------------------*/
.formControl {
	border: 1px solid #999999;
	border-radius: 4px;
	width: 50px;
	padding: 10px;
}

.col {
	display: inline-block;
	width: 100%;
	height: 100%;
}

.colOrder {
	column-count: 2;
	column-gap: 10px;
}

.colOrder .formControl {
	width: 95%;
	margin: 5px 5px 15px 0px;
}

.colProduct {
	float: left;
	width: 50%;
}

#addProduct {
	float: right;
}

#dialog {
	margin: auto;
	color: white;
	border-radius: 4px;
	padding: 10px;
	text-decoration: none;
	border : 1px solid #0b2d3d;
	background-color: black;
	float: center;
    z-index: 10;
	position: absolute;
	bottom: 100px;
}

#productImage {
	max-height: 100%; 
	max-width: 100%;
}

[name="commande"] {
	font-weight: bold;
}

.errorMessage {
	color: red;
	margin-bottom: 10px;
}

/*------------------------------------------ CSS pour le contenu de la page de contact ------------------------------------------*/
.contactPageSection {
	width: 33%;
	height: 80%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.contactPageSection a {
	text-decoration: none;
}

.contactContainer{
	width: 100%;
	height: 180px;
	display: flex;
	border-radius: 4px;
	border: 1px solid #999999;
	flex-direction: row;
	margin-top: 27px;
}

/*----------------------------------------- CSS pour le contenu de la page du panier -----------------------------------------*/

.tableBottomBorder{
	border-collapse: collapse; 
	border-bottom: 1px solid black;
}

.cartRow{  
	padding-top:5px;
	padding-bottom:5px;
}

.cartTable {
	width : 100%;
}

.cartTable i {
	margin: 0px 5px;
}

.cartFirstColumn{
	width :30px;
}

.cartHeaderColumnAlign{
	 text-align: left;
}
.cartFourthColumn{
	text-align:right;
}